@charset "utf-8";
/* CSS Document */
body{
	background: url("dot.png");
	background-repeat: repeat;
}

header{
	height: 200px;
	margin-top: 20px;
	background: url("header_bkg.png") no-repeat;
}

h1{
	text-align: left;
	font-size: 10em;
	color: lightpink;
	
	
}

container{
	float: right;
}

ul{
	float: left;
	padding: 10px;
}

footer{
	text-align: center;
	clear: both;
}